<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abumaster.springbootdemocrud.bookstore.mapper.BookInfoMapper">
  <resultMap id="BaseResultMap" type="com.abumaster.springbootdemocrud.bookstore.domain.BookInfo">
    <!--@mbg.generated-->
    <!--@Table book_info-->
    <id column="bid" jdbcType="VARCHAR" property="bid" />
    <result column="book_name" jdbcType="VARCHAR" property="bookName" />
    <result column="book_desc" jdbcType="VARCHAR" property="bookDesc" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="details" jdbcType="VARCHAR" property="details" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    bid, book_name, book_desc, author, update_time, details
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from book_info
    where bid = #{bid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from book_info
    where bid = #{bid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.abumaster.springbootdemocrud.bookstore.domain.BookInfo">
    <!--@mbg.generated-->
    insert into book_info (bid, book_name, book_desc, 
      author, update_time, details
      )
    values (#{bid,jdbcType=VARCHAR}, #{bookName,jdbcType=VARCHAR}, #{bookDesc,jdbcType=VARCHAR}, 
      #{author,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{details,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.abumaster.springbootdemocrud.bookstore.domain.BookInfo">
    <!--@mbg.generated-->
    insert into book_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        bid,
      </if>
      <if test="bookName != null">
        book_name,
      </if>
      <if test="bookDesc != null">
        book_desc,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="details != null">
        details,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        #{bid,jdbcType=VARCHAR},
      </if>
      <if test="bookName != null">
        #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookDesc != null">
        #{bookDesc,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="details != null">
        #{details,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.abumaster.springbootdemocrud.bookstore.domain.BookInfo">
    <!--@mbg.generated-->
    update book_info
    <set>
      <if test="bookName != null">
        book_name = #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookDesc != null">
        book_desc = #{bookDesc,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="details != null">
        details = #{details,jdbcType=VARCHAR},
      </if>
    </set>
    where bid = #{bid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.abumaster.springbootdemocrud.bookstore.domain.BookInfo">
    <!--@mbg.generated-->
    update book_info
    set book_name = #{bookName,jdbcType=VARCHAR},
      book_desc = #{bookDesc,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      details = #{details,jdbcType=VARCHAR}
    where bid = #{bid,jdbcType=VARCHAR}
  </update>
    <select id="queryAllBook" resultMap="BaseResultMap">

      select * from book_info;
    </select>
</mapper>