<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abumaster.springbootdemocrud.bookstore.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.abumaster.springbootdemocrud.bookstore.domain.User">
    <!--@mbg.generated-->
    <!--@Table user-->
    <id column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="pass_word" jdbcType="VARCHAR" property="passWord" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `uid`, create_time, email, pass_word, update_time, user_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from user
    where `uid` = #{uid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from user
    where `uid` = #{uid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.abumaster.springbootdemocrud.bookstore.domain.User">
    <!--@mbg.generated-->
    insert into user (`uid`, create_time, email, 
      pass_word, update_time, user_name
      )
    values (#{uid,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{passWord,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.abumaster.springbootdemocrud.bookstore.domain.User">
    <!--@mbg.generated-->
    update user
    set create_time = #{createTime,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      pass_word = #{passWord,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR}
    where `uid` = #{uid,jdbcType=VARCHAR}
  </update>
  <select id="selectOneByUserName" resultMap="BaseResultMap" parameterType="string">
    select * from user where `user_name`=#{userName,jdbcType=VARCHAR}
  </select>
    <select id="selectOneByUserNameAndPassWord" resultMap="BaseResultMap" >
      select * from user where `user_name`=#{param1,jdbcType=VARCHAR} and `pass_word`=#{param2,jdbcType=VARCHAR}
    </select>
</mapper>